<footer class="page-footer teal lighten-2">

  <div class="container">
            <div class="row">
              <div class="col l6 s12">
               <h5 class="white-text">Isolation Studios</h5>
               <p class="grey-text text-lighten-4">Info coming soon.</p>
             </div>
            </div>
  </div>

  <div class="footer-copyright">
            <div class="container">
            Made with <i class="fa fa-lemon-o"></i> and <i class="fa fa-tint"></i>.
            </div>
          </div>

</footer>
