<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      </a>

      <ul class="navbar-nav nav">

        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects/">Projects</a></li>
        <!--li class="nav-item"><a class="nav-link" href="/credits/">Credits</a></li-->
      </ul>
    </div>

    {% include social_media.html %}

  </div>
</nav>
