<div class="social-media">
  {% if site.github_username %}
    <a class="social-link" href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github-square"></i>
    </a>
  {% endif %}

  {% if site.twitter_username %}
    <a class="social-link" href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter-square"></i>
    </a>
  {% endif %}

  {% if site.facebook_username %}
    <a class="social-link" href="https://facebook.com/{{ site.facebook_username }}">
      <i class="fa fa-facebook-square"></i>
    </a>
  {% endif %}
</div>
