---
layout: default
---

<br>
<br>
<br>

<img src="{{baseurl}}/assets/images/isolationLogo.png" style="display: block; margin: auto;">


{% for post in site.posts %}
  <br>
  <div class="card">
    <div class="card-header">
      <h4>{{ post.title | escape }}</h4>
    </div>

    <div class="card-text">
      {{ post.excerpt }}

      <a class="btn btn-primary" href="{{ post.url | relative_url }}">Read more</a>
    </div>

    <div class="card-footer">
      <span class="text-muted">
        Tags:
        {% for tag in post.categories %}
          <a href="#">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>
  </div

{% endfor %}
